*:root{
    --Blue: #345ff6;
    --Gunmetal: #253347;
    --Dark-Electric-Blue: #5e6e85
    --Borders: #D8E2E7;
    --White: #ffffff
}
.heading-primary {
  font-size: 4.8rem;
  line-height: 110%;
}
.heading-secondary {
  font-size: 2.4rem;
  line-height: 110%;
  font-weight: 600;
}
.heading-tertiary {
  color: var(--White);
  font-size: 2rem;
  line-height: 110%;
  font-weight: 600;
}
.primary-p {
  font-size: 1.6rem;
  line-height: 150%;
  font-weight: 500;
}
.p-secondary{
    font-size: 1.4rem;
    line-height: 150%;
    font-weight: 400;
}
.ideal-weight {
  color: var(--White);
  font-weight: 600;
}
.unit {
  width: 3.1rem;
}
/* .unit:hover {
  border: 1px solid var(--Blue);
}
.unit:active {
  background-color: var(--Blue);
} */
